@import url("https://rsms.me/raster/raster2.css?v=20");



:root {
  --fontSize: 14px;
  --foreground-color: #18181b;
  --background-color: #f2f2f3;
}

input[type="text"] {
  margin: 10px;
  padding: 4px 10px;
  background: #e5e5e7;
  border: 0px;
  border-radius: 6px;
  color: var(--foreground-color);
}