@import url('https://rsms.me/raster/raster2.css?v=20');

:root {
  --base: #f8f9fa;
  --text: #343a40;

  --subtle: #495057;
  --muted: #868e96;

  --surface: #f1f3f5;
  --overlay: #e9ecef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212529;
    --text: #f8f9fa;

    --subtle: #f1f3f5;
    --muted: #e9ecef;

    --overlay: #495057;
    --surface: #343a40;
  }
}

:root {
  --fontSize: 14px;
  --background-color: var(--base);
  --foreground-color: var(--text);
}

input[type='text'] {
  margin: 10px;
  padding: 4px 10px;
  background: var(--surface);
  border: 0px;
  border-radius: 6px;
  color: var(--text);
}

a {
  color: var();
}

code.hljs {
  border-radius: 6px;
}

blockquote {
  background: var(--surface);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 2px solid var(--subtle);
  padding: 8px;
  padding-left: 10px;
}