@import url('https://rsms.me/raster/raster2.css?v=20');
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github-dark.min.css");

:root {
    /* pallete */
    --base: #040507;
    --surface: #0d1117;
    --overlay: #171d27;
    --muted: #455a78;
    --subtle: #8499b9;
    --text: #d5dde7;
}


:root {
    --fontSize: 14px;
    --background-color: var(--base);
    --foreground-color: var(--text);
    --columnGap: calc(var(--lineHeight)*1.2);
}

html,
body {
    min-height: 100%;
}

body {
    max-width: 100ch;
    margin: 0 auto;
    padding: 1em;
}

nav {
    margin-top: 20px;
}

a {
    text-decoration-color: var(--text);
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--subtle) !important;
}

nav a:hover {
    background-color: var(--overlay);
    color: var(--subtle);
}

code.hljs {
    border-radius: 6px;
}

blockquote {
    background: var(--surface);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 2px solid var(--subtle);
    padding: 8px;
    padding-left: 10px;
}